/* css for the login of the eidlogin app */

/* for NC < 22*/
.eidlogin-login-button-old {
    background: url("../img/npa-trans.png") no-repeat;
    background-size: 2.5em;
    background-position: 31%;
    padding-left: 16% !important;
    line-height: 1.8em !important;
}
@media (max-width: 320px) {
    .eidlogin-login-button-old {
        margin: 9% !important;
    }
}
@media (min-width: 321px) and (max-width: 375px) {
    .eidlogin-login-button-old {
        margin: 15.5% !important;
    }
}
@media (min-width: 376px) {
    .eidlogin-login-button-old {
        background-position: 34%;
        margin: 17.5% !important;
    }
}

/* for NC >= 22*/
.eidlogin-login-button {
    background: url("../img/npa.png") no-repeat;
    background-size: 2.4em;
    background-position: 30%;
    background-color: #ffffff !important;
    color: #0082c9 !important;
    padding-left: 14% !important;
    margin-top: 10px;
}
